.app {
  display: flex;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  overflow-y: hidden;
  height:94vh;
  padding-bottom:1rem;
}

@media (max-width: 910px) {
  .main-content{
    overflow-y: auto;
  }
}
