.recent-blocks {
  width: auto;
  padding: var(--padding-default);
  border-radius: 8px;
}

.recent-blocks header h2 {
  margin-bottom: 20px;
  color: #f5f5f5;
}

.recent-blocks header input {
  width: 20%;
}

.box-blocks {
  min-height: 276px;
  height: 276px;
  overflow-y: auto;
  padding-right: 1rem;
  margin-top:1rem;
}
.block {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #4b4747;
}

.block:last-child {
  border-bottom: none;
}

.block-icon {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4b4747;
  border-radius: 4px;
}

.block-icon .bx-intersect:before{
  font-size:26px;
}

.block-info {
  flex-grow: 1;
}

.block-id {
  color: #f5f5f5;
  display: block;
  font-weight:600;
  font-size:18px;
}

.block-time {
  color: #d3d3d3;
}

.block-value {
  color: #f5f5f5;
  text-align: right;
}

.block-value .block-date{
  font-size:14px;
  font-style: italic;
}

.block-value .block-confirm span{
  font-weight: 600;
}

.block-hash {
  cursor: pointer;
  user-select: text; 
}

.copied-tooltip{
  margin-left:1rem;
}

.block-hash.copied{
  background:var(--tertiary-color);
}

@media (max-width: 910px) {
  .recent-blocks header input {
    width: 94%;
    margin-bottom:1rem;
  }
}
